<div class="col-10 offset-1" about>
  <h1> About Splurty</h1>
</div>

  <p>
    Splurty was built by Jerrell McCormick. An up and coming programmer attending the University of Wisconsin Coding Boot Camp. His background is many years with cusomer service and solving complex insurance issues for members.
  </p>
  <br />

  <p>
    The quotes pre-loaded into splurty or snippets of video game culture. Jerrell aspires to work for a video game company as a dream job. Hopefully one day as a programmer.    
  </p>

  <p>
    <a target="_blank" href="https://cormacksbio.netlify.com/"> Jerrell McCormick's Portfolio </a>.
  </p>

   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jerrell.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jerrell McCormick</h2>
      <br />
      <p>
        Jerrell McCormick is a young ambitious professional looking for a position where he can use his analytical and recently learned programming skills.
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'jerrellcats.png', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Personal Life</h2>
      <br />
      <p>
        Jerrell has two cats he cares for and his hobbies include reading, playing tabletop games, and playing video games.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />